{% extends "base.html" %}



{% block content %}
    <h1>Hi, {{current_user.username}}!</h1>
    <h2>Please select the request which you would like to approve</h2>
    <form  action='/handle_all_leave_data' method = "POST" >
    <table border="1">
        <tr>
            <td><b>User</b></td>
            <td><b>Start Date</b></td>
            <td><b>End Date</b></td>
            <td><b>Take a half at start date</b></td>
            <td><b>Take a half at end date</b></td>
            <td><b>Total Days</b></td>
            <td><b>Status</b></td>
            <td><b>Action</b></td>
        </tr>
        {% for pending in pendings %}
        <tr>
            <td>{{ pending.username }}</td>
            <td>{{ pending.startdate }}</td>
            <td>{{ pending.enddate }}</td>
            <td>{{ pending.starthalf}}</td>
            <td>{{ pending.endhalf}}</td>
            <td>{{ pending.TotalDays}}</td>
            <td>{{ pending.Status}}</td>
            <td><select id="action" name="action">
                {% if pending.Status == "Canceling" %}
                <option value = {{ "Canceled," ~ pending.leaveid}}>Canceled</option>
                <option value = {{ "Empty," ~ pending.leaveid}}></option>
                {% else %}
                <option value = {{ "Approved," ~ pending.leaveid}}>Approved</option>
                <option value = {{ "Rejected," ~ pending.leaveid}}>Rejected</option>
                <option value = {{ "Empty," ~ pending.leaveid}}></option>
                {% endif %}
            </select>
        </tr>
        {% endfor %}
    </table>
    <input type = "submit" value = "Confirm">
</form>    
{% endblock %}
